<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="17495B57F5ED7.TaskyWin8forSync.Todaydemo" Publisher="CN=903DB800-0899-4E0A-8309-8E92F82ACE71" Version="1.0.0.10" />
  <Properties>
    <DisplayName>TaskyWin8 for Sync.Today (demo)</DisplayName>
    <PublisherDisplayName>NašeÚkoly.CZ s.r.o.</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TaskyWin8.App">
      <VisualElements DisplayName="TaskyPro/Windows 8 for Sync.Today Demo" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="TaskyPro connected to Sync.Today demo server" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="logoOnly" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>